/**
 * Oystershell standard styles
 * Version 1.0
 */

 /* Text meant only for screen readers */
 .assistive-text,
 .screen-reader-text {
 	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
     clip: rect(1px, 1px, 1px, 1px);
     position: absolute !important;
     height: 1px;
     width: 1px;
     overflow: hidden;
 }
