/**
 * Oystershell standard styles
 * Version 1.0
 */

 /*--------------------------------------------------------------
 1 WordPress Generic
 --------------------------------------------------------------*/

 /* Alignment */
 .alignleft {
 	display: inline;
 	float: left;
 }
 .alignright {
 	display: inline;
 	float: right;
 }
 .aligncenter {
 	clear: both;
 	display: block;
 	margin: 0 auto;
 }

 /* Search widget */
 #searchsubmit {
 	display: none;
 }

 /* Fix to deal with long words */
 .content-area,
 .widget-area {
 	word-wrap: break-word;
 }

 /* Position in page links */
 .page-links {
 	clear: both;
 	margin: 0 0 1.5em;
 }

 .more-link {
 	display: block;
 	clear: both;
 }

 /* Hide WordPress Stats smiley face */
 img#wpstats {
 	display: none;
 }

 /* Text meant only for screen readers */
 .assistive-text,
 .screen-reader-text {
 	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
     clip: rect(1px, 1px, 1px, 1px);
     position: absolute !important;
     height: 1px;
     width: 1px;
     overflow: hidden;
 }

 /*--------------------------------------------------------------
 2 Images & Media
 --------------------------------------------------------------*/

 /* Make sure embeds and iframes fit their containers */
 embed,
 iframe,
 object {
 	max-width: 100%;
 }
 /* Fluid images for posts, comments, and widgets */
 .site-header img,
 .content-area img,
 .widget-area img,
 img.size-full {
 	max-width: 100%;
 	width: auto;
 }
 /* Make sure images with WordPress-added height and width attributes are scaled correctly */
 .site-header img,
 .content-area img,
 .widget-area img,
 img[class*="align"],
 img[class*="wp-image-"] {
 	height: auto;
 }
 .entry-content img.wp-smiley,
 .comment-content img.wp-smiley {
 	border: none;
 	margin-bottom: 0;
 	margin-top: 0;
 	padding: 0;
 }
 .wp-caption {
 	border: 1px solid #ccc;
 	max-width: 100%;
 }
 .wp-caption.aligncenter,
 .wp-caption.alignleft,
 .wp-caption.alignright {
 	margin-bottom: 1.5em;
 }
 .wp-caption img {
 	display: block;
 	margin: 1.2% auto 0;
 	max-width: 98%;
 }
 .wp-caption-text {
 	text-align: center;
 }
 .wp-caption .wp-caption-text {
 	margin: 0.8075em 0;
 }
 .content-area .gallery a img {
 	border: none;
 	height: auto;
 	max-width: 90%;
 }
 .content-area .gallery dd {
 	margin: 0;
 }
 .os-post-thumnbnail-caption {
 	float: left;
 	clear: both;
 	width: 100%;
 }

 /*--------------------------------------------------------------
 3 Navigation Menus
 --------------------------------------------------------------*/

 /* Reset lists within .site-navigation */

 .site-navigation ul,
 .site-navigation ol {
 	margin: 0;
 }

 .site-navigation ul,
 .site-navigation ol {
 	list-style: none;
 }

 /* Display menu list inline */

 div.navigation-menu {

 }
 ul.navigation-menu-list {
 	float: left;
 }
 ul.navigation-menu-list li {
 	float: left;
     position: relative;

 }
 ul.navigation-menu-list li a {
 	display: block;
 }

 /*--------------------------------------------------------------
 4 Lists
 --------------------------------------------------------------*/

 ul {
 	list-style: disc;
 }
 ul ul {
 	list-style: square;
 }
 ul ul ul {
 	list-style: circle;
 }
 ol {
 	list-style: decimal;
 }
 ol ol {
 	list-style: lower-alpha;
 }
 ol ol ol {
 	list-style: lower-roman;
 }

 /*--------------------------------------------------------------
 5 Comments
 --------------------------------------------------------------*/
 ol.commentlist {
  margin: 0;
  list-style: none;
 }
 .commentlist ul {
  list-style: none;
 }
 .comment-body .avatar {
  float: right;
 }
 .comment-meta-date,
 .ping-meta-date {
  display: block;
  clear: left;
 }
 .comment-form-comment label {
  display: block;
  clear: both;
 }
 .comment-form-comment textarea {
  display: block;
  clear: both;
  width: 100%;
 }
 .form-allowed-tags {
  display: none;
 }

 /*--------------------------------------------------------------
 6 Colophon
 --------------------------------------------------------------*/

 .site-info {
 	display: block;
 	margin: 0 auto;
 	clear: both;
 	text-align: center;
 }
 .site-info ul,
 .site-info p {
 	margin-left: 5%;
 	margin-right: 5%;
 	margin-top: 0;
 	margin-bottom: 0;
 	padding: 0;
 }
 .site-info li {
 	list-style: none;
 	display: inline;
 	padding-left: 5px;
 	padding-right: 5px;
 }

 /*--------------------------------------------------------------
 7 Author Profile
 --------------------------------------------------------------*/

 .os-author-profile {
 	display: block;
 	width: 100%;
 	min-height: 80px;
 	clear: both;
 }
 .os-author-profile-gravatar {
 	width: 25%;
 	float: left;
 }
 .os-author-profile-gravatar img {
 	max-width: 80px;
 	max-height: 80px;
 }
 .os-author-profile-bio {

 }

 /*--------------------------------------------------------------
 8 Sticky Footer
 --------------------------------------------------------------*/
 /*
 Sticky Footer Solution by Steve Hatcher
 http://stever.ca
 http://www.cssstickyfooter.com
 */

 html, body {height: 100%;}

 #page {min-height: 100%;}

 #wrap {overflow:auto;
 	padding-bottom: 6em;}  /* must be same height as the footer */

 #colophon {position: relative;
 	margin-top: -6em; /* negative value of footer height */
 	margin-left: auto;
 	margin-right: auto;
 	height: 6em;
 	clear:both;}

 /*Opera Fix*/
 body:before {/* thanks to Maleika (Kohoutec)*/
 content:"";
 height:100%;
 float:left;
 width:0;
 margin-top:-32767px;/* thank you Erik J - negate effect of float*/
 }
